---
layout: default
title: The Sheep Vote
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">Get more from twitter</h1>
				<p class="editable">Subscribe to a data feed of twitter posts streamable in real-time.</p>
				<p class="editable">Use this to analyze brand health and detect publicity issues <i>before</i> they go viral.</p>
				<div class="button">
					<a href="#email">Sign Up</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/images/sheep.jpg" alt="Sheep">
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">What you can monitor</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">Customers</h3>
			<p class="editable">Quickly understand customer sentiment of key decisions and pre-emptively gather insights on preference changes.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">Trends</h3>
			<p class="editable">Monitor trends in social activity surrounding your brand with quantitative assessments of virality and brand health.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Satisfaction</h3>
			<p class="editable">Identify potential threats to brand value with real-time feeds of twitter data.</p>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/sheep2.jpg" alt="Sheep">
		</div>
		<div>
			<h2 class="editable">Our Mission</h2>

			<p class="editable">We structure the data on the internet. Forums, blogs, newsletters, and social media sites constantly generate petabytes of raw data containing valuable information. Using machine learning, we can refine that data into a structured format ripe for analysis that can be used to make your products better.</p>
		</div>
	</div>
</div>

<div class="container">
	<hr>
	<blockquote>
		<p class="quote editable">Social media data is a treasure trove of value that is drastically underutilized. All of the top brands are already using it, and these tools could change the game.</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/KyleDuffy.jpg" alt="Wooly"></span>
				<span class="author editable"><strong>Kyle Duffy</strong></span>
			</p>
		</div>
	</blockquote>
</div>

<div class="darker" id="email">
	<div class="container">
		<h2 class="editable">Sign Up</h2>
		<p class="editable" style="text-align: center;">Send us your email if you're interested in being contacted by someone from our team.</p>
		<form id="emailform" action="javascript: handleSubmit()">
			<input type="text" name="email" placeholder="Email">
			<input type="submit" value="Sign up"/>
		</form>
			<script>
				async function handleSubmit() {

					const url = {{ site.newsletter_action | jsonify }};

					const data = new FormData(document.querySelector("#emailform"));
					let email;
					for (const [key, value] of data) {
						email = value;
					}

					if (email) {
						const res = await fetch(url, {
							method: "POST",
							mode: "no-cors",
							headers: {
								"Content-Type": "application/json"
							},
							body: JSON.stringify({ email })
						})
						window.location.href = "/added"
					}
				}
			</script>
	</div>
</div>

<!-- <div class="container" id="donate">
	<h2 class="editable">Make a donation</h2>
	<div class="donate">
		{{ site.donation_embed }}
	</div>
</div> -->

<!-- <div class="darker">
	<div class="container">
		<h2 class="editable">Updates</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		<div class="posts">
			{% for post in site.posts %}
				<div class="post">
					<div class="image" style="background-image: url({{ post.featured_image}})"></div>
					<div class="post-content">
						<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
						<h3>{{ post.title }}</h3>

						{{ post.content }}
						<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
					</div>
				</div>
			{% endfor %} -->
		</div>
	</div>
</div>
